@import "./reset.css";
@import "./root.css";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
*{
    font-family: 'Black Han Sans', sans-serif;
    box-sizing: border-box;
}
body{
    color:white;
    overflow: hidden;
}
header{
    font-family: 'Black Han Sans', sans-serif;
    display:flex;
    position:relative;
    justify-content: center;
    align-items: center;
    height:20vh;
    margin:20px 30px;
}
.title{
    font-size : 24px;
}
.header__loginform {
    position:absolute;
    font-size : 32px;
    left: 20px;
}
iframe{
    position:absolute;
    bottom:0px;
    right:0px;
}
input{
    border : none;
    background-color: initial;
    border-bottom : 1px solid black;
}
input:focus , input:active {
    outline: none;
}

button{
    border:none;
    background-color: rgba(0,0,0,0.1);
    margin-left : 10px;
}
.header__column{
    position:absolute;
    display:flex;
    flex-direction: column;
    align-items: center;
    right:30px;
}
.header__date{
    margin-bottom : 5px;
}
.header__clock{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header__date{
    font-size : 32px;
}
.clock__time{
    font-size : 64px;
}

.header__weather{
    display:flex;
    flex-direction: column;
}
main{
    display:flex;
    height : 80vh;
    margin : 20px 30px;
}
.todoList__column input{
    margin-left : 10px;
    font-size : 24px;
}
.main__column{
    display:flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.todoList{
    height : 85%;
}
.todoList , .progress , .links ,.quote{
    border: var(--border);
    padding : 50px;
    margin : 30px;
}
.todoList__column{
    margin-bottom : 20px;
}
.todoList__list {
    display: flex;
    flex-flow : column wrap;
    overflow-y: hidden;
}
.todoList__list li{
    padding : 10px 0px;
    border-bottom : var(--border);
    width: 100%;
    font-size : 32px;
}

.todoList__list li span{
    padding : 10px 0px;
    
}
progress{
    width : 70%;
    height : 50px;
    transition: all 0.5s ease-in-out;
}
.progress{
    height : 15%;
    padding : 20px;
}
.progress__column{
    display: flex;
    justify-content: center;
    margin-top : 10px;
}
.progress span{
    text-align: center;
    font-size: 24px;
}
.links{
    height:35%;
    padding : 30px;
}

.hidden{
    display:none;
}

.check{
    font-style : italic;
    text-decoration: line-through;
}
.link{
    display:flex;
    justify-content: space-between;
    margin-top : 20px;
    padding:30px;
    
}
.links__search{
    margin-left : 10px;
    font-size : 24px;
}
a[href*="youtube"]{
    color:red;
}
a[href*="instagram"]{
    color:pink
}
a[href*="github"]{
    color:black;
}
i{
    font-size  : 80px;
}

.links li{
    transition:  transform 0.2s ease-in-out;
}
.links li:hover{
    transform : scale(1.5);
}
.link img{
    width:90px;
}
.quote{
    box-sizing: border-box;
    height:20%;
    padding : 30px;
}
.quote__column{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}
.quote__quote{
    font-size : 24px;
}
.quote__author{
    font-size : 20px;
    color : rgba(0,0,0,0.3);
}

.backgroundimg{
    z-index: -1;
    position: absolute;
    opacity: 0.8;
    top:0px;
    left:0px;
    height:100%;
    width:100vw;
}

@media screen and (max-width : 1550px) {
    header form{
        display:none;
    }
}

@media screen and (max-width : 1200px) {
    .links{
        display:none;
    }
    main{
        display:flex;
        flex-direction: column;
    }
    .main__column{
        width:95%;
        height:50%;
        margin:0px;
    }
    .todoList , .progress , .links ,.quote{
        width:100%;
        border:none;
    }
    .backgroundimg{
        height : 100vh;
    }
    .todoList__list{
        overflow-y: hidden;
    }
    .todoList{
        z-index: 5;
    }
}

@media screen and (max-width : 740px) {
    .header__column,iframe{
        display:none;
    }
    
}